.MonetizacaoArrayAccordion{
    border-radius: 40px !important;
    background-color: #777777 !important;
}

.MonetizacaoArrayAccordion::before{
    display: none;
}

::-webkit-scrollbar {
    width: 6px;
    background: #212121;
    border-radius: 6px;
}

::-webkit-scrollbar-track {
    border-radius: 6px;
}

::-webkit-scrollbar-thumb {
    background: #777777; 
    border-radius: 6px;
}

::-webkit-scrollbar-thumb:hover {
    background: grey;
}