.SharedLayoutGridRegras {
    border: 1px solid red;
}

.SharedLayoutGridMain {
    border: 1px solid red;
}

.SharedLayoutGridBuy {
    border: 1px solid red;
}

.ShareLayoutGrid {
    height: 700px;
}